{{#partial "title"}} fitbuddy {{/partial}}


{{#partial "content"}}
<body>
{{> navbar.hbs}}
<div style="background-color: whitesmoke; text-align: center; height: 200px;">
    <h1>Hey {{username}}! Here are your stats for: </h1>
    <h2>{{month}}</h2>
</div>

<div>
    {{no_workouts}}
</div>

<div style="text-align: center; height: 200px;">
    <p>{{total_workout}}</p>
</div>

<div style="background-color: whitesmoke; text-align: center; height: 200px;">
    <p>{{num_days}}</p>
</div>

<div style="text-align: center; height: 200px;">
    <p>{{favorite_workout}}</p>
    <p id="best_sets"></p>
    <p id="best_reps"></p>
    <p id="best_weight"></p>
</div>

</body>

{{/partial}}

{{> base.hbs}}

<script type="text/javascript">
    $("#user_li").addClass("active");
    var best_workout = {{{best_workout}}};
    if(best_workout !== null) {
        $("#best_sets").html("sets: " + best_workout.sets);
        $("#best_reps").html("reps: " + JSON.stringify(best_workout.reps) );
        $("#best_weight").html("weight: " + JSON.stringify(best_workout.weight) );
    }
</script>