{{#partial "content"}}
    <div id="topMenu">
        <form action ="/logout" method = "post">
            <button>logout</button>
        </form>
    </div>
    <p>  PROFILE PAGE </p>
    {{#if username }}
        <h1> WELCOME {{username}} !! </h1>
    {{else}}
        <h1> PLEASE SIGN IN DUDE </h1>
    {{/if}}

    <input type="button" data-toggle="modal" data-target="#workoutModal" id="addBtn"
           name="add" value="ADD WORKOUT">
    <p id="logModal" style="color:red;"></p>
    <h2> ALL CURRENT WORKOUTS</h2>

    <table>
        <tr>
            <th>EXERCISE</th>
            <th>SETS</th>
            <th>REPS</th>
            <th>WEIGHT</th>
        </tr>
        {{#each workout}}
            <tr data-id={{rowId}} data-exercise={{exercise}}>
                <td>{{exercise}}</td>
                <td>{{sets}}</td>
                <td>{{reps}}</td>
                <td>{{weight}}</td>
                <td><button type="button" data-toggle="modal" data-target="#workoutModal" data-exercise="{{exercise}}"
                            data-sets="{{sets}}" data-reps="{{reps}}" data-weight="{{weight}}" data-id="{{rowId}}"
                            class="editBtn" name="edit">Edit</button> </td>
                <td><button class="deleteBtn">Delete</button> </td>
            </tr>
        {{/each}}
    </table>


    <!-- Modal -->
    <div class="modal fade" id="workoutModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <input type="text" placeholder="Exercise" name="exercise" id="editExercise" value="" required >
                    <input type="number" placeholder="Sets" name="sets" id="editSets" value="" required>
                    <input type="number" placeholder="Reps" name="reps" id="editReps" value="" required>
                    <input type="number" placeholder="Weight" name="weight" id="editWeight" value="" required>
                    <input type="hidden" id="editId" value="" />
                    <input type="hidden" id="mode" value="" />
                    <input type="button" id="confirmBtn" name="confirmBtn" value="CONFIRM">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>



{{/partial}}

{{> base.hbs}}

<script type="text/javascript">
    $(document).ready(function () {

        $('#workoutModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            console.log("BUTTON MODE  " + button.attr("name"));
            openModal(button);
        });

        $(".deleteBtn").on("click", function () {
            console.log("DELETE BUTTON");
            var data = {};
            data.workoutId = $(this).closest("tr").attr("data-id");
            console.log("DELETING = " + data.workoutId );
            $.ajax({
                type: "post",
                url: "/delete",
                data: data,
                success: function(response) {
                    $("#logModal").html("<strong>DELETED</strong>");
                    console.log("response location = " + response.target);
                    if(response.target) {
                        window.location.href = response.target;
                    }
                },
                error: function() {
                    $("#logModal").html("<strong>OOPS! UNABLE TO DELETE WORKOUT! PLEASE TRY AGAIN</strong>");
                }
            });

        });

        $("#confirmBtn").on("click", function(){

            var data = {};
            data.exercise = $("#editExercise").val();
            data.sets = $("#editSets").val();
            data.reps = $("#editReps").val();
            data.weight = $("#editWeight").val();
            data.editId = $("#editId").val();
            data.mode = $('#mode').val();

            console.log("Submitting = \n" + JSON.stringify(data));

            $.ajax({
                type: "post",
                url: "/add",
                data: data,
                success: function(response) {
                    $("#logModal").html("<strong>SUBMITTING</strong>");
                    console.log("response location = " + response.target);
                    if(response.target) {
                        window.location.href = response.target;
                    }
                },
                error: function() {
                    $("#logModal").html("<strong>OOPS! UNABLE TO SUBMIT WORKOUT! PLEASE TRY AGAIN</strong>");
                }
            });
        });


    });



</script>