

<table id="workoutTable">
    <tr>
        <th>EXERCISE</th>
        <th>SETS</th>
        <th>REPS</th>
        <th>WEIGHT</th>
    </tr>
    {{#each workout}}
        <tr data-id={{rowId}} data-exercise={{exercise}}>
            <td>{{exercise}}</td>
            <td>{{sets}}</td>
            <td>{{reps}}</td>
            <td>{{weight}}</td>
            <td>{{date}}</td>
            <td><button type="button" data-toggle="modal" data-target="#workoutModal" data-exercise="{{exercise}}"
                        data-sets="{{sets}}" data-reps="{{reps}}" data-weight="{{weight}}" data-id="{{rowId}}"
                        data-date="{{date}}" class="editBtn" name="edit">Edit</button> </td>
            <td><button class="deleteBtn">Delete</button> </td>
        </tr>
    {{/each}}
</table>
    </div>
